.table-view .column-header .label{
    -fx-alignment: CENTER;
    -fx-radius:50;
}

#my-table .table-column{
	 -fx-alignment: CENTER;
}

#my-table .table-cell {
    -fx-alignment: CENTER;
    -fx-font-weight: normal;
    font-weight: normal;
    -fx-font-size:13px;  
    font-size:13px;
}
