.table-view .column-header .label{
    -fx-alignment: CENTER;
    -fx-radius:50;
}

.table-view {
	-fx-background-color: #FCFCFE;
	background-color: #FCFCFE;
	-fx-border-color: black;
	border-color: black;
	
}
#my-table .table-column{
	 -fx-alignment: CENTER;
	 -fx-background-color: #FCFCFE;
	background-color: #FCFCFE;
	-fx-text-fill:black;
}

#my-table .table-cell {
    -fx-alignment: CENTER;
    -fx-font-weight: normal;
    font-weight: normal;
    -fx-font-size:13px;  
    font-size:13px;
}
